*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.todoApp{
    width: 300px;
    height: 300px;
    /* border: 2px solid black; */
display: flex;
flex-direction: column;
box-shadow: 13px 31px 56px -8px rgba(0,0,0,0.66);
border-radius: 10px;
background-color: burlywood;
}
.inputField{
    display: flex;
gap:20px;


}

.text{
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: brown; */
    font-size: large;
    /* color: white; */
}
#input{
padding: 10px 20px;
/* border-top-left-radius: 10px; */
/* border-top-right-radius: 10px; */
flex: 1;
/* border: none; */
/* outline:none;
 */

}
.output{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}